@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Inicio";
}

<br />
<h1>INICIO</h1>
<hr class="red-line" />
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                @{
                if (Context.Session.GetString("Correo") == null)
                {
                <h5 class="card-title">¿Ya tienes una cuenta?</h5>
                <p class="card-text">Inicia sesión para poder acceder a tus datos, así como poder administrar tus citas y ver documentos médicos.</p>
                <br />
                <a class="btn btn-gob" asp-area="" asp-controller="Perfil" asp-action="InicioSesion">Inicia Sesión</a>
                } else {
                    if(Context.Session.GetInt32("Expediente") == 0)
                    {
                        <h5 class="card-title">¿No tienes un expediente?</h5>
                        <p class="card-text">Si quieres crear un expediente necesitas ingresar tu información personal.</p>
                        <a asp-area="" asp-controller="Expediente" asp-action="Tramitar" class="btn btn-gob">Tramitar</a>
                    } else {
                        <h5 class="card-title">¿Ya tienes tu expediente? Solicitalo</h5>
                        <p class="card-text">Puedes realizar cambios en caso de que un dato esté incorrecto o se encuentre desactualizado.</p>
                        <a class="btn btn-gob" asp-area="" asp-controller="Expediente" asp-action="Ver">Solicitar</a>
                    }
                }
                }
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">

                @{
                    if(Context.Session.GetString("Correo") == null)
                    {
                        <h5 class="card-title">Crear Cuenta</h5>
                        <p class="card-text">Registra una cuenta usando una curp y datos personales para tener acceso a un tramite de un expediente clínico digital que puede ser utilizado en la gran mayoria de personal de salud.</p>
                        <a class="btn btn-gob" asp-area="" asp-controller="Perfil" asp-action="Registrar">Registrarse</a>
                    } else {
                        <h5 class="card-title">Perfil</h5>
                        <p class="card-text">Cambia la configuración de tu cuenta.</p>
                        <a class="btn btn-gob" asp-area="" asp-controller="Expediente" asp-action="Ver">Configuración</a>
                    }
                }
            </div>
        </div>
    </div>
</div>

<!--Para Obtener Rol Médico -->

@{
    if(Context.Session.GetString("Rol") != null && Context.Session.GetString("Rol").Equals("3"))
    {
<br />
<h1>EMPLEADO</h1>
<hr class="red-line" />
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">¿Trabajas en un centro de salud?</h5>
                <p class="card-text">Registra tu cedula profesional para empezar a trabajar con tus pacientes.</p>
                <br />
                <a class="btn btn-gob" asp-area="" asp-controller="Medico" asp-action="Agregar">Registrar</a>
            </div>
        </div>
    </div>
</div>
    }
}
<!-- MODAL -->
<div class="modal fade" id="modalConsulta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="consultaModalLabel">AGREGAR CONSULTA</h5>
                <button type="button" class="btn-danger" data-bs-dimiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmConsulta">

                    <label for="fechaConsulta">FECHA</label>
                    <input type="date" name="fechaConsulta" id="fechaConsulta" class="form-control" />
                    <br />

                    <label for="tipoConsulta">TIPO DE CONSULTA</label>
                    <select name="tipoConsulta" id="tipoConsulta" class="form-select"></select>
                    <br />

                    <label for="diagnosticoConsulta">DIAGNOSTICO</label>
                    <input type="text" name="diagnosticoConsulta" id="diagnosticoConsulta" class="form-control" />
                    <br />

                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-warning" data-bs-dimiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-gob">Guardar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>