@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Inicio";
}

<br />
<h1>USUARIO</h1>
<hr class="red-line" />
@{

    if (Context.Session.GetString("Correo") != null)
    {
        <img src="https://pbs.twimg.com/media/DqsrQYKXQAEPDe8.jpg" />
    }
    else
    {

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">¿Ya tienes una cuenta?</h5>
                        <p class="card-text">Inicia sesión para poder acceder a tus datos, así como poder administrar tus citas y ver documentos médicos.</p>
                        <br />
                        <a class="btn btn-gob" asp-area="" asp-controller="Perfil" asp-action="Login">Inicia Sesión</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Crea una cuenta</h5>
                        <p class="card-text">Registra una cuenta usando una curp y datos personales para tener acceso a un tramite de un expediente clínico digital que puede ser utilizado en la gran mayoria de personal de salud.</p>
                        <a class="btn btn-gob" asp-area="" asp-controller="Perfil" asp-action="CrearCuenta">Registrarse</a>
                    </div>
                </div>
            </div>
        </div>
    }

}

<br />
<h1>TRAMITES</h1>
<hr class="red-line" />
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">¿No tienes un expediente?</h5>
                <p class="card-text">Si quieres crear un expediente necesitas ingresar tu información personal</p>
                <br />
                <a href="#" class="btn btn-gob">Tramitar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">¿Ya lo tienes? Solicitalo</h5>
                <p class="card-text">Para solicitar tu expediente solo necesitas iniciar sesión.</p>
                <br /><br />
                <a class="btn btn-gob"  asp-area="" asp-controller="Perfil" asp-action="SolicitarExpediente">Solicitar</a>
            </div>
        </div>
    </div>
</div>
<!--
<div class="text-center">
    <h1 class="display-4">Médicos</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>Especialidad</th>
                <th>Hospital</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>-->
