@{
    ViewData["Title"] = "Tramitar Expediente";
}

@{
    if (Context.Session.GetString("Rol").Equals("2") || Context.Session.GetString("Rol").Equals("1"))
    {
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand" href="#">Médico</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" asp-action="ConsultarPaciente" asp-controller="Medico">Consultar paciente <!--<span class="sr-only">(current)</span>--></a>
                    <a class="nav-item nav-link disabled" href="#">Mi lista de pacientes</a>
                    <a class="nav-item nav-link disabled" href="#">Datos del médico</a>
                </div>
            </div>
        </nav>
    }
}
<br />
<h1>TRAMITAR EXPEDIENTE</h1>
<hr class="red-line" />
@{
    <br />
    <form action="AgregarExpediente" method="POST">
        <br />
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationDefault01">ID EXPEDIENTE</label>
                <input type="text" class="form-control" name="idexpediente" id="validationDefault01" value="-" disabled>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault02">NOMBRE</label>
                <input type="text" class="form-control" name="nombre" id="validationDefault02" value="" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefaultUsername">APELLIDO</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="apellido" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" value="" required>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <label for="validationDefault03">ESTADO</label>
                 <div class="dropdown">
                    <select name="estado" id="estado" class="form-control" required></select>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationDefault03">MUNICIPIO</label>
                <div class="dropdown">
                    <select name="municipio" id="municipio" class="form-control" required></select>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <label for="validationDefault04">TELEFONO</label>
                <input type="text" class="form-control" name="telefono" id="validationDefault04" value="" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault05">FECHA DE NACIMIENTO</label>
                <input type="date" class="form-control" name="fechadenacimiento" id="validationDefault05" value="" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault06">CURP</label>
                <input type="text" class="form-control" name="curp" id="validationDefault06" value="" required>
            </div>
            <div class="col-md-2 mb-3">
                <label for="validationDefault07">SEXO</label>
                  <div class="dropdown">
                    <select name="sexo" class="form-control" required>
                          <option value=false selected>Mujer</option>
                          <option value=true>Hombre</option>
                    </select>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Tramitar</button>
        <button class="btn btn-danger" asp-controller="Inicio" asp-action="Index">Cancelar</button>
        <script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
         <script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
                        <script>
                //$(document).ready(function () {
                //    $("#estado").change(function (){
                //        alert($(this).val());
                //    });
                //});
                $(document).ready(function () {

                    var primerCiclo = true;
                    var IdEstado = $("#IdEstadoOld").val();

                    $.ajax({
                        //url: 'https://app.franciscoantonio.tech:8891/api/usuario/estados',
                        url: 'http://localhost:8891/api/usuario/estados',
                        dataType: "json",
                        method: 'GET',
                        success: function (data) {
                            var listEstado = $('#estado');
                            listEstado.empty();

                            $(data).each(function (index, emp) {
                                if (emp.idEstado == $("#IdEstadoOld").val()) {
                                    listEstado.append('<option value=' + emp.idEstado + ' selected>' + emp.nombre + '</option>');
                                    listarMunicipiosApi();
                                } else {
                                    listEstado.append('<option value=' + emp.idEstado + '>' + emp.nombre + '</option>');
                                }
                            });
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    });

                    //listarMunicipiosApi();


                    $("#estado").change(function () {
                        IdEstado = $(this).val();
                        listarMunicipiosApi();
                    });



                    function listarMunicipiosApi() {
                        $.ajax({
                            //url: 'https://app.franciscoantonio.tech:8891/api/usuario/municipios/' + IdEstado,
                            url: 'http://localhost:8891/api/usuario/municipios/' + IdEstado,
                            dataType: "json",
                            method: 'GET',
                            success: function (data) {
                                var listMunicipio = $('#municipio');
                                listMunicipio.empty();

                                $(data).each(function (index, emp) {
                                    if (emp.idMunicipio == $("#IdMunicipioOld").val() && primerCiclo == true) {
                                        listMunicipio.append('<option value=' + emp.idMunicipio + ' selected>' + emp.nombre + '</option>');
                                        primerCiclo = false;
                                    }
                                    listMunicipio.append('<option value=' + emp.idMunicipio + '>' + emp.nombre + '</option>');

                                });
                            },
                            error: function (err) {
                                console.log(err);
                            }

                        });
                    }

                });
            </script>
       
    </form>
}
