@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    /*background-color: #0b231e;*/
    background-color: #9D2449;
    color: #ffffff;
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;
}

.header-content {
    --max-width: 1300px;
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.imagen {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    height: 75px;
}

    .menu nav {
        height: 100%;
    }

        .menu nav ul {
            height: 100%;
            display: flex;
            list-style: none;
        }

            .menu nav ul li {
                height: 100%;
                margin: 0px 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                .menu nav ul li a {
                    color: #ffffff;
                }

                    .menu nav ul li a:hover {
                        color: #c6c17d;
                    }


.bg-rojoNegro {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-left: auto;
    width: 100%;
    /*height: 65px;*/
    height: 90vh;
    color: white;
    /*background-color: #0b231e;*/
    background-color: #9D2449;
}

.container-all {
    width: 100%;
    height: 80vh;
    position: relative;
    top: 75px;
}

hr.red-line {
    border: 1px solid #9D2449;
    width: 15%;
}

.btn-gob {
    border: 1px solid #9D2449;
    color: #9D2449;
    background-color: white;
}

.btn-gob:hover {
    background-color: #9D2449;
    color: white;
}
