@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    
    <!--
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ClienteWeb.styles.css" asp-append-version="true" />
    -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
   
    <header>
        <div class="header-content">
            <div class="imagen">
                <h1>EXPEDIENTE</h1>
            </div>
            <div class="menu">
                <nav class="menu-nav">
                    <ul>
                        <li><i class="bi bi-house-door" style="padding-right: 5px;"></i><a asp-area="" asp-controller="Inicio" asp-action="Index">Inicio</a></li>

                        @{
                            if (Context.Session.GetString("Correo") != null)
                            {
                                string correo = Context.Session.GetString("Correo");
                                if (Context.Session.GetString("Expediente") != "0")
                                {
                                    /* 
                                     * Usuario logeado
                                     * Cuenta con expediente
                                     */
                                    <li><i class="bi bi-clipboard2-pulse" style="padding-right: 5px;"></i><a asp-area="" asp-controller="Perfil" asp-action="Login">Consultas</a></li>
                                    <li><i class="bi bi-clipboard2-pulse" style="padding-right: 5px;"></i><a asp-area="" asp-controller="Perfil" asp-action="Login">Documentos</a></li>
                                    <li><i class="bi bi-clipboard2-pulse" style="padding-right: 5px;"></i><a asp-area="" asp-controller="Expediente" asp-action="VisualizarExpediente">Expediente</a></li>
                                    <li><i class="bi bi-person" style="padding-right: 5px;"></i><a asp-area="" asp-controller="Expediente" asp-action="VisualizarExpediente">@correo</a></li>
                                }
                                else
                                {
                                    /* 
                                     * Usuario logeado
                                     * No cuenta con expediente
                                     */
                                    <li><i class="bi bi-clipboard2-pulse" style="padding-right: 5px;"></i><a asp-area="" asp-controller="Expediente" asp-action="Tramitar">Consultas</a></li>
                                    <li><i class="bi bi-clipboard2-pulse" style="padding-right: 5px;"></i><a asp-area="" asp-controller="Expediente" asp-action="Tramitar">Documentos</a></li>
                                    <li><i class="bi bi-clipboard2-pulse" style="padding-right: 5px;"></i><a asp-area="" asp-controller="Expediente" asp-action="Tramitar">Expediente</a></li>
                                    <li><i class="bi bi-person" style="padding-right: 5px;"></i><a asp-area="" asp-controller="Expediente" asp-action="Tramitar">@correo</a></li>
                                }
                                /* 
                                 * Usuario logeado
                                 */
                                <li><i class="bi bi-door-open" style="padding-right: 5px;"></i><a asp-area="" asp-controller="Perfil" asp-action="CerrarSesion">Cerrar Sesión</a></li>
                            }
                            else
                            {
                                /* 
                                 * Requiere Login
                                 */
                                <li><i class="bi bi-clipboard2-pulse" style="padding-right: 5px;"></i><a asp-area="" asp-controller="Perfil" asp-action="InicioSesion">Consultas</a></li>
                                <li><i class="bi bi-clipboard2-pulse" style="padding-right: 5px;"></i><a asp-area="" asp-controller="Perfil" asp-action="InicioSesion">Documentos</a></li>
                                <li><i class="bi bi-clipboard2-pulse" style="padding-right: 5px;"></i><a asp-area="" asp-controller="Perfil" asp-action="InicioSesion">Expediente</a></li>
                                <li><i class="bi bi-person" style="padding-right: 5px;"></i><a asp-area="" asp-controller="Perfil" asp-action="InicioSesion">Perfil</a></li>
                            }
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    
    <div class="container-all">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>


    <div class="container-footer">
        <footer>
            <h4> 2022 - Expediente Médico</h4>
        </footer>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
